n8n-workflow-monitor.json
{
  "name": "FT — Monitoramento Automático de Passagens",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule — 2x por dia",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  name,\n  airport,\n  COALESCE(origin, 'POA') AS origin,\n  flight_date::text AS flight_date,\n  city\nFROM n8n_eventos\nWHERE active = true\n  AND flight_date >= CURRENT_DATE\n  AND flight_date <= CURRENT_DATE + INTERVAL '60 days'\n  AND airport IS NOT NULL\n  AND airport != COALESCE(origin, 'POA')\nORDER BY flight_date ASC;",
        "options": {}
      },
      "id": "pg-eventos",
      "name": "PostgreSQL — Buscar Eventos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "name": "PostgreSQL — FuelTech" } }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    evento_id:   String(item.json.id),\n    evento_name: item.json.name || '',\n    origin:      item.json.origin || 'POA',\n    dest:        item.json.airport || '',\n    flight_date: String(item.json.flight_date || '').substring(0, 10),\n    city:        item.json.city || ''\n  }\n}));"
      },
      "id": "code-ctx",
      "name": "Code — Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "options": { "timeout": 20000 },
        "queryParameters": {
          "parameters": [
            { "name": "engine",        "value": "google_flights" },
            { "name": "departure_id",  "value": "={{ $json.origin }}" },
            { "name": "arrival_id",    "value": "={{ $json.dest }}" },
            { "name": "outbound_date", "value": "={{ $json.flight_date }}" },
            { "name": "currency",      "value": "BRL" },
            { "name": "hl",            "value": "pt" },
            { "name": "gl",            "value": "br" },
            { "name": "type",          "value": "2" },
            { "name": "api_key",       "value": "f326309d4def0107ddc6d12a22e97474bb159346f198f55e17fde3c5cc5c2a10" }
          ]
        }
      },
      "id": "http-serp",
      "name": "HTTP Request — SerpAPI Voos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $input.all();\nconst ctxItems  = $('Code — Preparar Contexto').all();\nconst results   = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const data = httpItems[i].json;\n  const ctx  = ctxItems[i] ? ctxItems[i].json : null;\n\n  if (!ctx || data.error) continue;\n\n  const all = [...(data.best_flights || []), ...(data.other_flights || [])];\n  if (!all.length) continue;\n\n  const best = all.reduce((a, b) => (!a || b.price < a.price) ? b : a, null);\n  if (!best?.price) continue;\n\n  const fl = best.flights || [];\n\n  results.push({ json: {\n    evento_id:   ctx.evento_id,\n    evento_name: ctx.evento_name,\n    airline:     fl[0]?.airline || 'N/D',\n    price:       best.price,\n    dep_time:    fl[0]?.departure_airport?.time?.slice(11,16) || '',\n    arr_time:    (fl[fl.length-1] || fl[0])?.arrival_airport?.time?.slice(11,16) || '',\n    stops:       (best.layovers || []).length,\n    origin:      ctx.origin,\n    dest:        ctx.dest,\n    flight_date: ctx.flight_date\n  }});\n}\n\nreturn results;"
      },
      "id": "code-extract",
      "name": "Code — Processar Voo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO n8n_monitoramento\n    (evento_id, checked_at, price, airline, dep_time, arr_time, stops, triggered)\n  VALUES (\n    '{{ $json.evento_id }}',\n    NOW(),\n    {{ $json.price }},\n    '{{ $json.airline }}',\n    '{{ $json.dep_time }}',\n    '{{ $json.arr_time }}',\n    {{ $json.stops }},\n    false\n  )\n  RETURNING *\n),\nlast_check AS (\n  SELECT price AS last_price\n  FROM n8n_monitoramento\n  WHERE evento_id = '{{ $json.evento_id }}'\n    AND id < (SELECT id FROM inserted)\n  ORDER BY checked_at DESC\n  LIMIT 1\n)\nSELECT\n  i.price            AS current_price,\n  l.last_price,\n  i.evento_id,\n  '{{ $json.evento_name }}' AS evento_name,\n  '{{ $json.airline }}'    AS airline,\n  '{{ $json.dep_time }}'   AS dep_time,\n  '{{ $json.arr_time }}'   AS arr_time,\n  {{ $json.stops }}        AS stops,\n  '{{ $json.origin }}'     AS origin,\n  '{{ $json.dest }}'       AS dest,\n  '{{ $json.flight_date }}' AS flight_date\nFROM inserted i\nJOIN last_check l ON i.price < l.last_price;",
        "options": {}
      },
      "id": "pg-save-check",
      "name": "PostgreSQL — Salvar e Verificar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 300],
      "credentials": { "postgres": { "name": "PostgreSQL — FuelTech" } }
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => {\n    const row = item.json;\n    if (row.success || !row.current_price || !row.last_price) return false;\n    return Number(row.current_price) < Number(row.last_price);\n  })\n  .map(item => ({ json: item.json }));"
      },
      "id": "code-check-drop",
      "name": "Code — Verificar Queda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "sendTo": "email@fueltech.com.br",
        "subject": "={{ '📉 Queda de preço — ' + $json.evento_name }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:20px;background:#f0f0f0;font-family:Arial,sans-serif\"><table width=\"600\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:4px;overflow:hidden\"><tr><td style=\"background:#c0392b;padding:14px 24px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#ffffff;font-size:22px;font-weight:900;font-style:italic\">FuelTech</td><td align=\"right\" style=\"color:#ffffff;font-size:13px\">FT Flight Manager</td></tr></table></td></tr><tr><td style=\"background:#2c2c2c;padding:16px 24px\"><span style=\"display:inline-block;background:#27ae60;color:#fff;font-size:11px;padding:2px 10px;border-radius:3px;margin-bottom:8px\">✈️ Passagem Aérea</span><div style=\"color:#ffffff;font-size:18px;font-weight:bold;margin-bottom:4px\">Queda de Preço Detectada</div><div style=\"color:#aaaaaa;font-size:13px\">{{ $json.evento_name }} &nbsp;·&nbsp; {{ $json.origin }} → {{ $json.dest }}</div></td></tr><tr><td style=\"background:#f9f9f9;padding:24px\"><div style=\"color:#333333;font-size:14px;font-weight:bold;margin-bottom:16px\">Dados do Voo</div><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"50%\" style=\"padding:6px 0;vertical-align:top\"><div style=\"color:#888888;font-size:11px\">Evento</div><div style=\"color:#222222;font-size:13px;font-weight:600\">{{ $json.evento_name }}</div></td><td width=\"50%\" style=\"padding:6px 0;vertical-align:top\"><div style=\"color:#888888;font-size:11px\">Data do Voo</div><div style=\"color:#222222;font-size:13px;font-weight:600\">{{ new Date($json.flight_date + 'T12:00:00').toLocaleDateString('pt-BR') }}</div></td></tr><tr><td width=\"50%\" style=\"padding:6px 0;vertical-align:top\"><div style=\"color:#888888;font-size:11px\">Companhia</div><div style=\"color:#222222;font-size:13px;font-weight:600\">{{ $json.airline }}</div></td><td width=\"50%\" style=\"padding:6px 0;vertical-align:top\"><div style=\"color:#888888;font-size:11px\">Escalas</div><div style=\"color:#222222;font-size:13px;font-weight:600\">{{ $json.stops == 0 ? 'Voo Direto' : $json.stops + ' escala(s)' }}</div></td></tr><tr><td width=\"50%\" style=\"padding:6px 0;vertical-align:top\"><div style=\"color:#888888;font-size:11px\">Partida</div><div style=\"color:#222222;font-size:13px;font-weight:600\">{{ $json.origin }} · {{ $json.dep_time }}</div></td><td width=\"50%\" style=\"padding:6px 0;vertical-align:top\"><div style=\"color:#888888;font-size:11px\">Chegada</div><div style=\"color:#222222;font-size:13px;font-weight:600\">{{ $json.dest }} · {{ $json.arr_time }}</div></td></tr></table><hr style=\"border:none;border-top:1px solid #dddddd;margin:16px 0\"><div style=\"color:#333333;font-size:14px;font-weight:bold;margin-bottom:16px\">Comparativo de Preço</div><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #dddddd;font-size:13px\"><tr style=\"background:#eeeeee\"><th style=\"padding:8px 12px;text-align:left;color:#555555;font-weight:600\">#</th><th style=\"padding:8px 12px;text-align:left;color:#555555;font-weight:600\">Trecho</th><th style=\"padding:8px 12px;text-align:right;color:#555555;font-weight:600\">Preço Anterior</th><th style=\"padding:8px 12px;text-align:right;color:#555555;font-weight:600\">Menor Preço</th></tr><tr><td style=\"padding:10px 12px;color:#333333;border-bottom:1px solid #eeeeee\">01</td><td style=\"padding:10px 12px;color:#333333;border-bottom:1px solid #eeeeee\">{{ $json.origin }} → {{ $json.dest }}<br><span style=\"color:#888888;font-size:11px\">{{ $json.airline }} · {{ $json.stops == 0 ? 'Direto' : $json.stops + ' escala(s)' }}</span></td><td style=\"padding:10px 12px;text-align:right;color:#e74c3c;text-decoration:line-through;border-bottom:1px solid #eeeeee\">R$ {{ Number($json.last_price).toLocaleString('pt-BR', {minimumFractionDigits:2}) }}</td><td style=\"padding:10px 12px;text-align:right;color:#27ae60;font-weight:bold;border-bottom:1px solid #eeeeee\">R$ {{ Number($json.current_price).toLocaleString('pt-BR', {minimumFractionDigits:2}) }}</td></tr><tr style=\"background:#f5f5f5\"><td colspan=\"3\" style=\"padding:10px 12px;font-weight:bold;color:#333333\">Total Geral</td><td style=\"padding:10px 12px;text-align:right;font-weight:bold;color:#27ae60\">R$ {{ Number($json.current_price).toLocaleString('pt-BR', {minimumFractionDigits:2}) }}</td></tr></table><div style=\"text-align:center;padding:20px 0 8px\"><a href=\"https://www.google.com/travel/flights\" style=\"display:inline-block;background:#c0392b;color:#ffffff;text-decoration:none;padding:12px 32px;border-radius:4px;font-weight:bold;font-size:14px\">🛒 Comprar Agora com Melhor Preço</a></div></td></tr><tr><td style=\"background:#2c2c2c;padding:16px 24px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"color:#aaaaaa;font-size:11px;line-height:1.5\">Email gerado automaticamente pelo <strong style=\"color:#ffffff\">FT Flight Manager</strong>. Monitoramento automático 2x por dia.</td><td align=\"right\" style=\"color:#ffffff;font-size:16px;font-weight:900;font-style:italic;white-space:nowrap;padding-left:16px\">FuelTech</td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "outlook-email",
      "name": "Outlook — Enviar Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1700, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "name": "Microsoft Outlook" }
      }
    }
  ],
  "connections": {
    "Schedule — 2x por dia": {
      "main": [[{ "node": "PostgreSQL — Buscar Eventos", "type": "main", "index": 0 }]]
    },
    "PostgreSQL — Buscar Eventos": {
      "main": [[{ "node": "Code — Preparar Contexto", "type": "main", "index": 0 }]]
    },
    "Code — Preparar Contexto": {
      "main": [[{ "node": "HTTP Request — SerpAPI Voos", "type": "main", "index": 0 }]]
    },
    "HTTP Request — SerpAPI Voos": {
      "main": [[{ "node": "Code — Processar Voo", "type": "main", "index": 0 }]]
    },
    "Code — Processar Voo": {
      "main": [[{ "node": "PostgreSQL — Salvar e Verificar", "type": "main", "index": 0 }]]
    },
    "PostgreSQL — Salvar e Verificar": {
      "main": [[{ "node": "Code — Verificar Queda", "type": "main", "index": 0 }]]
    },
    "Code — Verificar Queda": {
      "main": [[{ "node": "Outlook — Enviar Email", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
