n8n-workflow-employees.json
{
  "name": "FT — Employee Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ft-employee-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TOP 20\n  RTRIM(RA_MAT)   AS matricula,\n  RTRIM(RA_NOME)  AS nome,\n  RTRIM(RA_CIC)   AS cpf,\n  CONVERT(VARCHAR(10), RA_NASC, 23) AS data_nascimento,\n  RTRIM(RA_EMAIL) AS email,\n  RTRIM(RA_TEL)   AS telefone,\n  RTRIM(RA_SEXO)  AS sexo\nFROM SRA010\nWHERE D_E_L_E_T_ = ' '\n  AND RA_DEMISSA  = '  '\n  AND RA_NOME LIKE '%' + '{{ $json.query }}' + '%'\nORDER BY RA_NOME"
      },
      "name": "SQL Server — Busca SRA",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "SQL Server — Busca SRA", "type": "main", "index": 0 }]]
    },
    "SQL Server — Busca SRA": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
