n8n-workflow-monitor.json
{
  "name": "FT — Monitoramento Automático de Passagens",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule — 2x por dia",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  name,\n  airport,\n  COALESCE(origin, 'POA') AS origin,\n  flight_date::text AS flight_date,\n  city\nFROM n8n_eventos\nWHERE active = true\n  AND flight_date >= CURRENT_DATE\n  AND flight_date <= CURRENT_DATE + INTERVAL '60 days'\n  AND airport IS NOT NULL\n  AND airport != COALESCE(origin, 'POA')\nORDER BY flight_date ASC;",
        "options": {}
      },
      "id": "pg-eventos",
      "name": "PostgreSQL — Buscar Eventos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": { "postgres": { "name": "PostgreSQL — FuelTech" } }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    evento_id:   String(item.json.id),\n    evento_name: item.json.name || '',\n    origin:      item.json.origin || 'POA',\n    dest:        item.json.airport || '',\n    flight_date: String(item.json.flight_date || '').substring(0, 10),\n    city:        item.json.city || ''\n  }\n}));"
      },
      "id": "code-ctx",
      "name": "Code — Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "options": { "timeout": 20000 },
        "queryParameters": {
          "parameters": [
            { "name": "engine",        "value": "google_flights" },
            { "name": "departure_id",  "value": "={{ $json.origin }}" },
            { "name": "arrival_id",    "value": "={{ $json.dest }}" },
            { "name": "outbound_date", "value": "={{ $json.flight_date }}" },
            { "name": "currency",      "value": "BRL" },
            { "name": "hl",            "value": "pt" },
            { "name": "gl",            "value": "br" },
            { "name": "type",          "value": "2" },
            { "name": "api_key",       "value": "f326309d4def0107ddc6d12a22e97474bb159346f198f55e17fde3c5cc5c2a10" }
          ]
        }
      },
      "id": "http-serp",
      "name": "HTTP Request — SerpAPI Voos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $input.all();\nconst ctxItems  = $('Code — Preparar Contexto').all();\nconst results   = [];\n\nfor (let i = 0; i < httpItems.length; i++) {\n  const data = httpItems[i].json;\n  const ctx  = ctxItems[i] ? ctxItems[i].json : null;\n\n  if (!ctx || data.error) continue;\n\n  const all = [...(data.best_flights || []), ...(data.other_flights || [])];\n  if (!all.length) continue;\n\n  const best = all.reduce((a, b) => (!a || b.price < a.price) ? b : a, null);\n  if (!best?.price) continue;\n\n  const fl = best.flights || [];\n\n  results.push({ json: {\n    evento_id:   ctx.evento_id,\n    evento_name: ctx.evento_name,\n    airline:     fl[0]?.airline || 'N/D',\n    price:       best.price,\n    dep_time:    fl[0]?.departure_airport?.time?.slice(11,16) || '',\n    arr_time:    (fl[fl.length-1] || fl[0])?.arrival_airport?.time?.slice(11,16) || '',\n    stops:       (best.layovers || []).length,\n    origin:      ctx.origin,\n    dest:        ctx.dest,\n    flight_date: ctx.flight_date\n  }});\n}\n\nreturn results;"
      },
      "id": "code-extract",
      "name": "Code — Processar Voo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO n8n_monitoramento\n    (evento_id, checked_at, price, airline, dep_time, arr_time, stops, triggered)\n  VALUES (\n    '{{ $json.evento_id }}',\n    NOW(),\n    {{ $json.price }},\n    '{{ $json.airline }}',\n    '{{ $json.dep_time }}',\n    '{{ $json.arr_time }}',\n    {{ $json.stops }},\n    false\n  )\n  RETURNING *\n),\nlast_check AS (\n  SELECT price AS last_price\n  FROM n8n_monitoramento\n  WHERE evento_id = '{{ $json.evento_id }}'\n    AND id < (SELECT id FROM inserted)\n  ORDER BY checked_at DESC\n  LIMIT 1\n)\nSELECT\n  i.price            AS current_price,\n  l.last_price,\n  i.evento_id,\n  '{{ $json.evento_name }}' AS evento_name,\n  '{{ $json.airline }}'    AS airline,\n  '{{ $json.dep_time }}'   AS dep_time,\n  '{{ $json.arr_time }}'   AS arr_time,\n  {{ $json.stops }}        AS stops,\n  '{{ $json.origin }}'     AS origin,\n  '{{ $json.dest }}'       AS dest,\n  '{{ $json.flight_date }}' AS flight_date\nFROM inserted i\nJOIN last_check l ON i.price < l.last_price;",
        "options": {}
      },
      "id": "pg-save-check",
      "name": "PostgreSQL — Salvar e Verificar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 300],
      "credentials": { "postgres": { "name": "PostgreSQL — FuelTech" } }
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .filter(item => {\n    const row = item.json;\n    if (row.success || !row.current_price || !row.last_price) return false;\n    return Number(row.current_price) < Number(row.last_price);\n  })\n  .map(item => ({ json: item.json }));"
      },
      "id": "code-check-drop",
      "name": "Code — Verificar Queda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "sendTo": "email@fueltech.com.br",
        "subject": "📉 Queda de preço — {{ $json.evento_name }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html lang=\"pt-BR\"><head><meta charset=\"UTF-8\"><style>body{font-family:'Segoe UI',system-ui,sans-serif;background:#f8fafc;color:#1e293b;margin:0;padding:0}.container{max-width:560px;margin:0 auto;background:#ffffff;border-radius:16px;overflow:hidden;border:1px solid #e2e8f0;box-shadow:0 4px 24px rgba(0,0,0,.08)}.header{background:linear-gradient(135deg,#fe0000,#cc0000);padding:28px 32px;text-align:center}.header h1{margin:0;font-size:22px;color:#fff;font-weight:800}.badge{display:inline-block;background:rgba(255,255,255,.2);color:#fff;border-radius:20px;padding:4px 14px;font-size:13px;margin-top:8px}.body{padding:32px}.alert-box{background:rgba(16,185,129,.06);border:1px solid rgba(16,185,129,.25);border-radius:12px;padding:20px;text-align:center;margin-bottom:24px}.price{font-size:42px;font-weight:900;color:#10b981;line-height:1}.price-label{font-size:13px;color:#64748b;margin-top:4px}.prev-price{font-size:16px;color:#ef4444;text-decoration:line-through;margin-top:8px;font-weight:700}.info-grid{display:grid;grid-template-columns:1fr 1fr;gap:12px;margin:20px 0}.info-item{background:#f8fafc;border:1px solid #e2e8f0;border-radius:10px;padding:14px;text-align:center}.info-label{font-size:11px;color:#64748b;text-transform:uppercase;letter-spacing:.05em;font-weight:700;margin-bottom:4px}.info-value{font-size:14px;font-weight:700;color:#1e293b}.route{font-size:18px;font-weight:800;color:#fe0000;text-align:center;margin:16px 0}.cta{display:block;background:linear-gradient(135deg,#fe0000,#cc0000);color:#fff;text-align:center;padding:14px 24px;border-radius:10px;text-decoration:none;font-weight:700;font-size:15px;margin-top:20px}.footer{padding:16px 32px;text-align:center;font-size:12px;color:#94a3b8;border-top:1px solid #e2e8f0}</style></head><body><div class=\"container\"><div class=\"header\"><h1>📉 Preço Mais Baixo Detectado!</h1><span class=\"badge\">FT Flight Manager · Monitoramento Automático</span></div><div class=\"body\"><div class=\"alert-box\"><div class=\"price\">R$ {{ Number($json.current_price).toLocaleString('pt-BR', {minimumFractionDigits:2}) }}</div><div class=\"price-label\">menor preço encontrado — por pessoa</div><div class=\"prev-price\">Anterior: R$ {{ Number($json.last_price).toLocaleString('pt-BR', {minimumFractionDigits:2}) }}</div></div><div class=\"route\">{{ $json.origin }} → {{ $json.dest }}</div><div class=\"info-grid\"><div class=\"info-item\"><div class=\"info-label\">Evento</div><div class=\"info-value\">{{ $json.evento_name }}</div></div><div class=\"info-item\"><div class=\"info-label\">Companhia</div><div class=\"info-value\">{{ $json.airline }}</div></div><div class=\"info-item\"><div class=\"info-label\">Partida</div><div class=\"info-value\">{{ $json.dep_time }}</div></div><div class=\"info-item\"><div class=\"info-label\">Chegada</div><div class=\"info-value\">{{ $json.arr_time }}</div></div><div class=\"info-item\"><div class=\"info-label\">Escalas</div><div class=\"info-value\">{{ $json.stops == 0 ? 'Direto' : $json.stops + ' escala(s)' }}</div></div><div class=\"info-item\"><div class=\"info-label\">Data do Voo</div><div class=\"info-value\">{{ new Date($json.flight_date + 'T12:00:00').toLocaleDateString('pt-BR') }}</div></div></div><a href=\"https://www.google.com/travel/flights\" class=\"cta\">🛒 Comprar Agora com Melhor Preço</a></div><div class=\"footer\">FT Flight Manager · Monitoramento automático 2x por dia</div></div></body></html>",
        "options": {}
      },
      "id": "outlook-email",
      "name": "Outlook — Enviar Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1700, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": { "name": "Microsoft Outlook" }
      }
    }
  ],
  "connections": {
    "Schedule — 2x por dia": {
      "main": [[{ "node": "PostgreSQL — Buscar Eventos", "type": "main", "index": 0 }]]
    },
    "PostgreSQL — Buscar Eventos": {
      "main": [[{ "node": "Code — Preparar Contexto", "type": "main", "index": 0 }]]
    },
    "Code — Preparar Contexto": {
      "main": [[{ "node": "HTTP Request — SerpAPI Voos", "type": "main", "index": 0 }]]
    },
    "HTTP Request — SerpAPI Voos": {
      "main": [[{ "node": "Code — Processar Voo", "type": "main", "index": 0 }]]
    },
    "Code — Processar Voo": {
      "main": [[{ "node": "PostgreSQL — Salvar e Verificar", "type": "main", "index": 0 }]]
    },
    "PostgreSQL — Salvar e Verificar": {
      "main": [[{ "node": "Code — Verificar Queda", "type": "main", "index": 0 }]]
    },
    "Code — Verificar Queda": {
      "main": [[{ "node": "Outlook — Enviar Email", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
